extends layout

block content
  nav.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Operaciones
            ul.dropdown-menu
              li
                a.dropdown-item(href='formulario') Tabla de Multiplicar
              li
                a.dropdown-item(href='#') Generar Quiniela
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href='#') Salir
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Ayuda
            ul.dropdown-menu
              li
                button.dropdown-item(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal') Acerca De...
                
  #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h1#exampleModalLabel.modal-title.fs-5 Acerca de...
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          | Acerca de nosotros
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close